*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.top{
    height: 100px;
    line-height: 100px;
    /* border: 2px solid cyan; */
    background-color: gray;
    text-align: center;
    font-display: auto;
    box-sizing:border-box;
}
.sub{background-color: aqua;}
.sub > ul{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.sub > ul > li{
    box-sizing: border-box;
    width: 25%;
    /* border: 2px solid red; */
    padding: 15px 20px;
    float:left;
    text-align: center;
    background-color: blanchedalmond;
}

.sub > ul > li:hover{
    background-color: lightgreen;
    border-bottom: 3px solid red;
}

.cont{
    background-image: url('../img/pepe-p.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    padding-top: 20px;
    text-align: center;    
    background-color: hotpink;
}

.cont > ul > li > input{
    margin: 2px;
    height: 50px; 
    width: 500px;
}


